body {
}
.anakutu{
    height:4100px;
    width:1500px;
    margin-left:auto;
    margin-right:auto;
}
.ilkdiv{
    height:1%;
    width:100%;
    
}
.aradiv{
    height:16%;
    width:100%;
}
.sondiv {
    height: 3%;
    width: 100%;
    background-color:#444444;
    margin-top:100px;
}
.ilkbaslik{
    float:left;
    margin-right:25px;
    margin-top:30px;
    font-size:16px;
    font-family:Arial;
}
.ilkbaslikk{
    float:left;
    margin-right:25px;
    margin-left:90px;
    margin-top:30px;
    font-size:16px;
    font-family:Arial;
}
.samlogo{
    float:left;
}
.kucukikon{
    margin-top:25px;
}
.g9{
    margin-top:250px;
    font-size:65px;
    font-family:Arial;
    margin-left:100px;
}
.icdiv{
    width:49%;
    height:100%;
    float:left;
}
.ilkmetin{
    margin-left:110px;
    font-family:Arial;
}
.ilklink{
    margin-left:110px;
    font-family:Arial;
    text-decoration:underline;
    margin-top:100px;
    font-weight:100;
    float:left;
}
.ilkkutucuk{
    border:1px solid black;
    float:left;
    margin-top:80px;
    margin-left:40px;
    padding: 20px 20px 20px 20px;
    border-radius:300px;
    font-weight:300;
    font-size:20px;
}
.tel1{
    margin-top:50px;
}
.ikincimetin{
    margin-left:110px;
    font-family:Arial;
    font-weight:300;
    font-size:25px;
}
.ikincikutucuk{
    border:1px solid black;
    float:left;
    margin-top:80px;
    padding: 20px 50px 20px 50px;
    border-radius:300px;
    font-weight:700;
    font-size:17px;
    font-family:Arial;
    margin-left:100px;
}
.ikincikutucukk{
    border:1px solid black;
    float:left;
    margin-top:80px;
    margin-left:10px;
    padding: 20px 50px 20px 50px;
    border-radius:300px;
    font-weight:700;
    font-size:17px;
    font-family:Arial;
    
}
.ucuncukutucuk{
    border:1px solid black;
    margin-top:10px;
    padding: 20px 50px 20px 50px;
    border-radius:300px;
    font-weight:700;
    font-size:17px;
    font-family:Arial;
    margin-left:100px;
    float:inherit;
}
.g99{
    margin-top:250px;
    font-size:85px;
    font-family:Arial;
    margin-left:100px;
}
.dorduncukutucuk{
    border:1px solid black;
    float:left;
    margin-top:10px;
    padding: 20px 50px 20px 50px;
    border-radius:300px;
    font-weight:700;
    font-size:17px;
    font-family:Arial;
    margin-left:100px;
}
.smap{
    font-weight:700;
    font-size:22px;
    margin-left:150px;
    font-family:Arial;
    float:left;
    margin-top:100px;
    
}
.smap2{
    font-weight:700;
    font-size:22px;
    margin-left:150px;
    font-family:Arial;
    float:left;
    margin-top:20px;
    
}
.minibaslik{
    font-family:Arial;
    margin-left:155px;
    font-size:18px;
    font-weight:200;
}
.div4{
    height:100%;
    width:24%;
    float:left;
}
.telif{
    font-family:Arial;
    margin-left:155px;
    margin-top:50px;
    font-weight:100;
}
.minibaslik2{
    font-family:Arial;
    margin-left:155px;
    font-size:18px;
    font-weight:200;
    margin-top:150px;
}
.kaydir{
    margin-left:100px;
    border-radius:700px;
}
.solaal{
    margin-left:300px;
    font-size:13px;
    font-weight:200;
    margin-top:50px;
}
.smap3{
    font-weight:500;
    font-size:15px;
    margin-left:150px;
    font-family:Arial;
    float:left;
    color:white;
    margin-bottom:50px;
}
.smap33{
    font-weight:500;
    font-size:15px;
    margin-left:50px;
    font-family:Arial;
    float:left;
    color:white;
    margin-bottom:50px;
}
.sonaal{
    font-weight:500;
    font-size:15px;
    margin-left:400px;
    font-family:Arial;
    float:left;
    color:white;
    margin-bottom:50px;
}
